body{
    background-color:antiquewhite;
    
}

button{
    background-color:black;
    color:antiquewhite;
    border-color:antiquewhite ;
    border-width: 0.2rem;
}
p{
    font-size: 1.2rem;
}
#project_form{
    font-size: 1.2rem;
}
form{
    box-shadow: 4px 4px 10px rgba(148, 143, 99, 1);
    width: 300px;
    height: 300px;
    padding-left: 13px;
    padding-top: 15px;
   
}
.container{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 90px;
}