<html>
    <head>
        <link rel="stylesheet" href="C:\Users\hp\Desktop\data_science\email project\static\style.css" />
        <title>Email Classification Project</title>
    </head>

    <body>
        <h1  style="text-align:center">Email Classification Project</h1>
        <!---  project details-->
            <p>It is an Email Classification Project.
                This project is used to determine whether the email is 
                a spam or not . 
            </p>
        
        <a href="C:\Users\hp\Desktop\data_science\email project\templates\project.html">
            <button >Go to Project</button>
        </a> 
        <br><br>
        <hr>

        <h2>Vanshika Jangid</h2>
        <!---  photo and self discription  -->
            <p>Hello eveyone! My name is Vanshika Jangid. I am currently pursuing Btech in Computer Science and Engineering from Governement
                Women Engineering college, Ajmer, Rajasthan. I have made various projects to improve my technical skills.This project showcases my 
                skills in the field of Data Science and Machine Learing.</p>
        <!--<img src ="./static/image/my_img.jpg" alt=" " width="200">-->
        <br>
        <hr>
    
        
        <!---  project details-->
        <h2>Project Details</h2>
            <p>In this project python,various Machine Learing tools such as data gathering, data filtering, data processing,
                CountVectorizer, TfidfVectorizer, Confusion matrix, Classification report are used.
                Along with this, various Machine Learing algorithms like BernoulliNB, GaussianNB, MultinomialNB, etc are used.
                It also includes some Python libraries such as pandas, numpy, seaborn, matplotlib, joblib, os, re, etc. 
                When user enters the email , this project will predict that the 
                given email is a spam or not.</p>
        
        
        <footer> 
        <hr>   
        <h3 style="text-align:center">Thanks for visiting our project.</h3>
        <h3 style="text-align:center">vnshkjngd@gmail.com</h3>
        </footer> 
    </body>
</html>
